<div class="dividers">
  <div class="textIn">
    <ion-label class="titles" > 
      Inicia Sesión
      </ion-label>
      <div class="div-img-photo">
        <img id="iconBottle" src="assets/icon/planta.svg">
      </div>
  </div>
</div>

<ion-content class="sign-in-content"><br><br>
  <!--<ion-segment (ionChange)="segmentChanged($event)" value="segment1">
    <ion-segment-button value="segment1">
      <ion-label [ngClass]="segment1 ? 'withcolor':'nocolor'">Social</ion-label>
    </ion-segment-button>
    <ion-segment-button value="segment2">
      <ion-label [ngClass]="segment2 ? 'withcolor':'nocolor'">Correo</ion-label>
    </ion-segment-button>
  </ion-segment>-->
  <!--<div *ngIf="segment1">
    <br>
    <div class="social-auth-options">
      <ion-button type="submit" color="danger" expand="block" (click)="onlog()">
        <ion-row>
          <ion-col>
            <ion-icon name="logo-google"></ion-icon>
          </ion-col>
          <ion-col>
            Ingresar con Google
          </ion-col>
        </ion-row> 
      </ion-button>
      <ion-input placeholder="Ingresar número de teléfono" type="number" [(ngModel)]="user.number" name="number"></ion-input>
      <ion-button type="submit" expand="block" (click)="onLoginPhone()" >Enviar</ion-button>
    </div>
  </div>
  <form *ngIf="segment2">-->
    <form>
      <ion-item class="input-item">
        <ion-label position="floating" color="primary" class="label-input" required>Correo electrónico</ion-label>
        <ion-input type="email" [(ngModel)]="user.email" name="email"></ion-input>
      </ion-item>
      <ion-item >
        <ion-label position="floating" color="primary" class="label-input" required>Contraseña</ion-label>
        <ion-row style=" width: 295px;" >
          <ion-col size="11">
            <ion-input type="password" 
              [(ngModel)]="user.password" 
              class="form-control" 
              name="password"
              #input
            >
            </ion-input>
          </ion-col >
          <ion-col size="0.8" style="align-content: center; margin-top: 10px;" >
            <a (click)="showPassword(input)" name="password-checked">
            <ion-icon [hidden] ="!passwordCheckbox" name="eye-outline"></ion-icon>
            <ion-icon [hidden]="passwordCheckbox" name="eye-off-outline"></ion-icon>
            </a>
          </ion-col>
      </ion-row> 
      </ion-item> 
      <br>
    <ion-button class="sign-in-btn" expand="block" (click)="onLogin()">
      Ingresar
    </ion-button><br>
    <div style="align-items: center;">
      <a class="sign-up-btn" style="text-align: center; text-decoration: none;" routerLink="../reset-password">
        ¿Olvidaste tu contraseña?
      </a>
    </div><br>
    <div style="align-items: center;">
      ¿No tienes una cuenta?&nbsp;<a routerLink="../register" style="font-weight: bold;text-decoration: none;">Regístrate</a>
    </div>
  </form>
  <div style="margin-top: 60px;">
    <ion-icon style="color: blue;margin-top: 15px;" name="eye-outline"></ion-icon> <a style="color: rgb(100, 100, 100);" [routerLink]="['/slides']"> Toma un tour</a>
  </div>
</ion-content>
