<ion-header >
  <div class="dividers">
    <div class="textIn">
      <ion-label class="titles" > 
        Iniciar Sesión
        </ion-label>
    </div>
    
    <div class="iconIn">
      <img id="iconBottle" src="assets/icon/planta.svg">
    </div>
  </div>
</ion-header>

<ion-content class="sign-in-content">
  <ion-segment (ionChange)="segmentChanged($event)">
    <ion-segment-button value="segment1">
      <ion-label>Social</ion-label>
    </ion-segment-button>
    <ion-segment-button value="segment2">
      <ion-label>Email</ion-label>
    </ion-segment-button>
  </ion-segment>
  <div *ngIf="segment1">
    <br>
    <div class="social-auth-options">
      <ion-button type="submit" color="danger" expand="block" (click)="onLoginGoogle()">
        <ion-row>
          <ion-col>
            <ion-icon name="logo-google"></ion-icon>
          </ion-col>
          <ion-col>
            Ingresar con Google
          </ion-col>
        </ion-row> 
      </ion-button>
    </div>
  </div>
  <form *ngIf="segment2">
      <ion-item class="input-item">
        <ion-label position="floating" color="primary" class="label-input">Correo electrónico</ion-label>
        <ion-input type="email" [(ngModel)]="user.email" name="email"></ion-input>
      </ion-item>
      <!--<div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.email">
          <div class="error-message"
            *ngIf="validationsForm.get('email').hasError(validation.type) && (validationsForm.get('email').dirty || validationsForm.get('email').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>-->
      <ion-item class="input-item">
        <ion-label position="floating" color="primary" class="label-input">Contraseña</ion-label>
        <ion-input type="password" 
          [(ngModel)]="user.password" 
          class="form-control" 
          name="password">
        </ion-input>
      </ion-item>
     <!--<div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.password">
          <div class="error-message"
            *ngIf="validationsForm.get('password').hasError(validation.type) && (validationsForm.get('password').dirty || validationsForm.get('password').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>--> 
    
    <ion-button class="sign-in-btn" expand="block"(click)="onLogin()">
      Ingresar
    </ion-button>
    <ion-row class="sign-up-btn-wrapper">
      <ion-button class="reset-password-btn" fill="clear" routerLink="/reset-password" >
        Olvidaste tu contraseña?
      </ion-button>
      <ion-button class="sign-up-btn" fill="clear" routerLink="../register">
        No tienes una cuenta?
      </ion-button>
    </ion-row>
  </form>

 
</ion-content>