<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="openFirst()">
        <ion-icon name="menu-outline"></ion-icon>
      </ion-button>

    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <a href="/notifications" > <img class="icon-notification" src="assets/icon/activo.svg"/></a>
      </ion-button>
      <ion-button (click)="logout()" >
        <img class="icon-logout" src="assets/icon/logout.svg"/>
      </ion-button>
    </ion-buttons>
    <ion-title>R-Utiliza</ion-title>

  </ion-toolbar>
  
</ion-header>
<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar color="dark">
      <ion-title>Categorías</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item><a [routerLink]="['/papel-carton']" >Papel y cartón</a></ion-item>
      <ion-item><a [routerLink]="['/cristal-vidrio']">Cristal y vidrio</a></ion-item>
      <ion-item><a [routerLink]="['/metales']">Metales</a></ion-item>
      <ion-item><a [routerLink]="['/plastico']">Plástico</a></ion-item>
      <ion-item><a [routerLink]="['/telas']">Telas</a></ion-item>
      <ion-item><a [routerLink]="['/otros']">Otros</a></ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-content>
  <ion-router-outlet id="main" main></ion-router-outlet>
  <div class="user-information-container">
    <ion-row>
      <ion-col size="1.7" size-lg>
        <div>
          <img *ngIf="!user.photo" src="../../../assets/icon/penguin.svg" class="photo-profile">        
          <img *ngIf="user.photo" [src]="user.photo" class="photo-profile">      
        </div>
      </ion-col>
      <ion-col  size-lg >
        <ion-item class="search"> 
          <ion-searchbar (ionChange)="search($event)" placeholder="Buscar ideas..." no-border></ion-searchbar>
        </ion-item>     
      </ion-col>  
    </ion-row>
  </div>
  <div *ngFor="let publication of publications | busqueda: textoBuscar" class="publications-container">
    <div class="publication-info">
      <ion-row>
        <ion-col size="1.5" size-lg >
          <img *ngIf="!publication.userPhoto" src="../../../assets/icon/penguin.svg" class="user-photo-profile">        
          <img *ngIf="publication.userPhoto" [src]="publication.userPhoto" class="user-photo-profile"/>   
        </ion-col>
        <ion-col size="7.5" size-lg >
          <ion-label class="title"><strong>{{publication.title | uppercase}}</strong></ion-label><br>
          <ion-label 
            class="user" *ngIf="publication.userName">Idea creada por: 
            <a *ngIf="idCurrentUser !== publication.userId" (click)="gotoUserProfile(publication.userId)" >{{publication.userName}}</a>
            <a *ngIf="idCurrentUser === publication.userId" [routerLink]="['/profile']" >{{publication.userName}}</a>
          </ion-label><br>
          <ion-label class="date">
            Ctg: <a *ngIf="!publication.category" style="color:black; text-decoration:none;">Sín categoría</a><a (click)="gotoCategory(publication.category)">{{publication.category}}</a> 
            • {{publication.date.toDate() | date: shortDate}}
          </ion-label>
        </ion-col> 
        <ion-col size="3">
        <ion-buttons *ngIf="idCurrentUser == publication.userId">
          <ion-button (click)="presentAlertConfirm(publication)">
            <ion-icon name="trash-bin" color="danger"></ion-icon>
          </ion-button>
          <ion-button (click)="gotoEditPublication(publication.id)">
            <ion-icon name="create" color="secondary"></ion-icon>
        </ion-button>
        </ion-buttons>
        <ion-buttons *ngIf="idCurrentUser !== publication.userId">
            <ion-button (click)="modalReport(publication.id)">
              <ion-icon name="alert-circle-outline" color="danger"></ion-icon>
            </ion-button>
        </ion-buttons>
        </ion-col>  
      </ion-row>
    </div>
    <div class="publication-description">
      <p style="white-space: pre">         
        {{publication.description}}
      </p>
    </div>
    <ion-slides pager="true" >
      <ion-slide *ngFor="let image of publication.image">
        <img loading="lazy" [src]="image" class="preview"/>
      </ion-slide>
    </ion-slides>
    <a *ngIf="publication.file" [href]="publication.file">Click para descargar documento</a>
    <youtube-player 
    [videoId]="publication.videoURL" 
    suggestedQuality="highest"
    [height]="250" 
    [width]="390" 
    [startSeconds]="1"
    >
    </youtube-player>
      <div class="publication-options">
        <ion-segment class="seg">
          <ion-segment-button class="option-n" (click)="modalComments(publication.id)">
            <img class="icon-comments" src="assets/icon/conversation.svg">
          </ion-segment-button>
          <ion-segment-button class="option-n" (click)="savePublication(publication.id)">
            <img class="icon-save" src="assets/icon/bookmark.svg">
          </ion-segment-button>
          <ion-segment-button class="option-n">
            <img class="icon-download" src="assets/icon/direct-download.svg">
          </ion-segment-button>
          <ion-segment-button class="option-n" (click)="shareFacebook(publication.title)">
            <img class="icon-share" src="assets/icon/share.svg">
          </ion-segment-button>
        </ion-segment>
      </div>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button  (click)="modalNewPublication()" routerLinkActive="router-link-active" >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
  
</ion-content>
