<ion-header>
  <ion-toolbar>
    <ion-item>
      <ion-label>Inicio</ion-label>  
         <a href="/notifications" > <img class="photo-profile" src="assets/icon/activo.svg"/></a>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="user-information-container">
    <ion-row>
      <ion-col size="2" size-lg>
        <div>
          <img class="photo-profile" src="assets/icon/penguin.svg"/>   
        </div>
      </ion-col>
      <ion-col size="10" size-lg>
        <ion-item class="search"> 
          <ion-input class="input-search" placeholder="Buscar..."></ion-input>
          <ion-button color="primary"><ion-icon name="search-circle"></ion-icon></ion-button>
        </ion-item>     
      </ion-col>  
    </ion-row>
  </div>
  <hr color="#86C14F" size=1 width="350">
  <div class="user-publications-container">
    <div class="publication-n">
      <div class="publication-header">
        <ion-row>
          <ion-col size="1.7" size-lg>
            <div>
              <img src="assets/icon/penguin.svg"/>   
            </div>
          </ion-col>
          <ion-col size="8.5" size-lg>
            <div>
            <ion-label class="title"><strong>Título</strong></ion-label><br> 
            <ion-label class="date">99/99/9999</ion-label>
            </div>
          </ion-col> 
          <ion-col size="1.2">
            <img src="assets/icon/signo-de-exclamacion.svg"/>
          </ion-col> 
        </ion-row>  
      </div>
      <div class="publication-about">          
        Sed ut perspiciatis unde omnis iste natus 
        error sit voluptatem accusantium doloremque 
        laudantium, totam rem aperiam.       
      </div>
      <div class="publication-video">
        <img src="assets/img/839.jpg">

      </div>
      <div class="publication-options">
        <ion-segment >
          <ion-segment-button class="option-n">
            <img class="icon-comments" src="assets/icon/conversation.svg">
          </ion-segment-button>
          <ion-segment-button class="option-n">
            <img class="icon-save" src="assets/icon/bookmark.svg">
          </ion-segment-button>
          <ion-segment-button class="option-n">
            <img class="icon-download" src="assets/icon/direct-download.svg">
          </ion-segment-button>
          <ion-segment-button class="option-n">
            <img class="icon-share" src="assets/icon/share.svg">
          </ion-segment-button>
        </ion-segment>
      </div>
    </div>
  <br>
  <div class="publication-n">
    <div class="publication-header">
      <ion-row>
        <ion-col size="1.7" size-lg>
          <div>
            <img src="assets/icon/weasel.svg"/>   
          </div>
        </ion-col>
        <ion-col size="8.5" size-lg>
          <div>
          <ion-label class="title"><strong>Título</strong></ion-label><br> 
          <ion-label class="date">99/99/9999</ion-label>
          </div>
        </ion-col>
        <ion-col size="1.2">
          <img src="assets/icon/signo-de-exclamacion.svg"/>
        </ion-col>   
      </ion-row>  
    </div>
    <div class="publication-about">          
      Sed ut perspiciatis unde omnis iste natus 
      error sit voluptatem accusantium doloremque 
      laudantium, totam rem aperiam.       
    </div>
    <div class="publication-video">
      <img src="assets/img/839.jpg">

    </div>
    <div class="publication-options">
      <ion-segment >
        <ion-segment-button class="option-n">
          <img class="icon-comments" src="assets/icon/conversation.svg">
        </ion-segment-button>
        <ion-segment-button class="option-n">
          <img class="icon-save" src="assets/icon/bookmark.svg">
        </ion-segment-button>
        <ion-segment-button class="option-n">
          <img class="icon-download" src="assets/icon/direct-download.svg">
        </ion-segment-button>
        <ion-segment-button class="option-n">
          <img class="icon-share" src="assets/icon/share.svg">
        </ion-segment-button>
      </ion-segment>
    </div>
  </div>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  
</ion-content>
