.photo-profile{
    width: 47px;
    height: 47px;
    border-radius: 300px;
}
.publications-container{
    border-bottom: 1px solid #E3E0E0;
    border-top: 1px solid #E3E0E0; 
    margin-bottom: 10px;    
}
.input-search{
    width: 80%;
}
.icon-notification, .icon-logout{
    width: 20px;
    height: 20px;
}
.publication-options{
    .option-n{
        border: 1px solid #EAE6E6; 
        .icon-save, .icon-comments, .icon-share, .icon-download{
            width: 20px;
            height: 20px; 
        }
    }
}
.publication-info{
    margin-left: 5px;
    .date{
        font-size: 11px;
    }
    .title{
        font-size: 13px;
    }
    .user{
        font-size: 12px;
    }
    .user-photo-profile{
        width: 34px;
        height: 34px;
        border-radius: 300px;
    }
    .alert-icon{
        width: 20px;
        height: 20px;
    }
}
.publication-description{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 13px;
}
ion-toolbar{
    --background: #86C14F;
}
