<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/home']" routerLinkActive="router-link-active" ><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>{{user.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="dividers">
    <div class="user-info">
      <div class="div-photo" style="margin-left: 35px;">
        <img [src]="user.photo" class="photo-profile">
      </div>
      <ion-item>
      <ion-label name="user-name" ><strong>{{user.name}}</strong></ion-label>
      <ion-button *ngIf="!existe"(click)="saveFollowed()" fill="clear"><ion-icon name="add-circle-outline"></ion-icon></ion-button>
      <ion-button *ngIf="existe" (click)="presentAlertConfirm()"size="small" fill="outline">Dejar de seguir</ion-button>
    </ion-item>

    </div>
  </div>
  <hr color="#86C14F" size=1 width="100%">
  <h6 style="text-align: center;">Publicaciones</h6>
  <div *ngFor= "let publication of publications" class="publications-container" style="border: none;">
   <div style="border: none;">
    <div class="publication-info" style="border: none;">
      <ion-row>
        <ion-col size="1.5" size-lg>
          <img [src]="user.photo" class="user-photo-profile" />   
        </ion-col>
        <ion-col size="7" size-lg>
          <ion-label class="title"><strong>{{publication.title | uppercase}}</strong></ion-label><br>
          <ion-label class="user" >Idea creada por: <a>{{publication.userName}}</a></ion-label><br>
          <ion-label class="date">
            Ctg: <a (click)="gotoCategory(publication.category)">{{publication.category}}</a> 
            • {{publication.date.toDate() | date: shortDate}}
          </ion-label>        </ion-col> 
        <ion-col size="3">
          <ion-buttons>
            <ion-button (click)="modalReport(publication.id)">
              <ion-icon name="alert-circle-outline" color="danger"></ion-icon>
          </ion-button>
          </ion-buttons>
        </ion-col>  
      </ion-row>
    </div>
    <div class="publication-description">
      <p>          
        {{publication.description}} 
      </p>
    </div>
      <div *ngFor="let image of publication.image">
        <img loading="lazy" [src]="image" class="preview" />
      </div>
      <a [href]="publication.file">{{publication.file}}</a>
      <div class="publication-options">
        <ion-segment class="seg">
          <ion-segment-button class="option-n" (click)="modalComments(publication.id)">
            <img class="icon-comments" src="assets/icon/conversation.svg">
          </ion-segment-button>
          <ion-segment-button class="option-n">
            <img class="icon-save" src="assets/icon/bookmark.svg">
          </ion-segment-button>
          <ion-segment-button class="option-n">
            <img class="icon-download" src="assets/icon/direct-download.svg">
          </ion-segment-button>
          <ion-segment-button class="option-n">
            <img class="icon-share" src="assets/icon/share.svg">
          </ion-segment-button>
        </ion-segment>
      </div>
    </div>
  </div>
</ion-content>
