<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/followers']" routerLinkActive="router-link-active" >
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Personas que sigues</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="sign-in-content"> 
<ion-item *ngIf="noFollows">
  <ion-label style="text-align: center;color: orange;">No sigues a otros usuarios</ion-label>
</ion-item>
  <div *ngFor= "let user of users" class="publications-container">
    <div >
      <table style="margin: 10px;" width = 100%>
        <tr>

          <td width="40">
            <img *ngIf="!user.photo" src="../../../assets/icon/penguin.svg" class="user-photo-profile" />
            <img *ngIf="user.photo" [src]="user.photo" class="user-photo-profile" />
          </td>
          <td style="text-align: left;">
            <ion-label class="title">
            <a (click)="gotoUserProfile(user.uid)">
            {{user.name}}</a>
           </ion-label>
          </td>
          <td width="90"><ion-buttons>
            <ion-button (click)="presentAlertConfirm(user)">
              <ion-icon name="trash-bin" color="danger"></ion-icon>
            </ion-button>
          </ion-buttons></td>
        </tr>
      </table>
     </div>
  </div>
  
</ion-content>