<ion-header>
  <ion-toolbar style="--background: #86C14F;">
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/login']" routerLinkActive="router-link-active" >
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Acerca de R-Utiliza</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
  <ion-text color="primary" style="text-align: center;">
    <p style="font-size: 25px;">
      R-Utiliza es la aplicación que te<br>
      permite compartir tus ideas de reutilización <br>
      de basura con el mundo. 
    </p>
  </ion-text>
  <div class="img">
    <img src="../../assets/img/planta.png">
  </div>
</div>

</ion-content>
