ion-toolbar{
    --background: #86C14F;
}
.user-photo-profile{
    width: 34px;
    height: 34px;
    border-radius: 300px;
}
.withcolor{
    --background: rgb(236, 245, 230);
}
.nocolor{
    --background: rgb(255, 255, 255);
}