<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-button [routerLink]="['/home']">
         <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Notificaciones</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="notifications-container" *ngFor="let notif of notifications">
    <div class="notification">
          <ion-item class="search">
            <div>
              <img class="user-photo-profile" [src]="notif.uPhoto"/>   
            </div>
            <div class="publication-about" style="margin-left: 10px;"> 
              <ion-label>{{notif.text}}</ion-label> <br>         
            </div>
          </ion-item>     
    </div>
  </div>
</ion-content>
