<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-button [routerLink]="['/home']">
         <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Notificaciones</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="notifications-container">
    <div class="notification">
      <ion-row>
        <ion-col size="2" size-lg>
          <div>
            <img class="photo-profile" src="assets/icon/penguin.svg"/>   
          </div>
        </ion-col>
        <ion-col size="10" size-lg>
          <ion-item class="search">
            <div class="publication-about"> 
              <a>Penguin12 ha compartido una idea</a> <br>         
              99/99/9999     
            </div>
          </ion-item>     
        </ion-col>  
      </ion-row>
    </div>
    <div class="notification">
      <ion-row>
        <ion-col size="2" size-lg>
            <img class="photo-profile" src="assets/icon/penguin.svg"/>   
        </ion-col>
        <ion-col size="10" size-lg>
          <ion-item class="search">
            <div class="publication-about"> 
              <a>Penguin12 comenzó a seguirte</a> <br>         
              99/99/9999     
            </div>
          </ion-item>     
        </ion-col>  
      </ion-row>
    </div>
    <div class="notification">
      <ion-row>
        <ion-col size="2" size-lg>
          <div>
            <img class="photo-profile" src="assets/icon/weasel.svg"/>   
          </div>
        </ion-col>
        <ion-col size="10" size-lg>
          <ion-item class="search">
            <div class="publication-about"> 
              <a>weasel2 ha compartido una idea</a> <br>         
              99/99/9999     
            </div>
          </ion-item>     
        </ion-col>  
      </ion-row>
    </div>
  </div>
</ion-content>
