<ion-header style="margin-bottom: 10px;">
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-button (click)="dismiss()">
         <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
     
    </ion-buttons>
    <ion-title>Comentarios </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
<div *ngFor="let comment of comments" class="comments-container">
    <ion-item  class="comment-div">
      <ion-buttons slot="end" *ngIf="comment.idUser === idCurrentUser">
        <ion-button (click)="presentAlertConfirm(comment.id)">
          <ion-icon name="trash" color="danger"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-col size="1.7" size-lg>
         <img [src]="comment.uPhoto" class="photo-profile">
      </ion-col>
      <ion-col size="10.5" size-lg >
        <ion-label class="user-comment"><a><strong>{{comment.uName}}</strong></a></ion-label>
        <div class="text-comment">{{comment.text}}</div>
      </ion-col>
    
  </ion-item>
</div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons>
      <ion-input [(ngModel)]="comment.text" placeholder="Agrega un comentario" class="input-comment"></ion-input>
      <ion-button (click)="saveComment()"><ion-icon slot="icon-only" name="send-sharp"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
