<div class="dividers">
  <div class="textIn">
    <ion-label class="titles" > 
      Regístrate
      </ion-label>
      <div class="div-img-photo">
        <img id="iconBottle" src="assets/icon/planta.svg">
      </div>
  </div>
</div>
<ion-content class="sign-in-content"><br><br>
  <!--<ion-segment (ionChange)="segmentChanged($event)" value="segment1">
    <ion-segment-button value="segment1" >
      <ion-label [ngClass]="segment1 ? 'withcolor':'nocolor'">Social</ion-label>
    </ion-segment-button>
    <ion-segment-button value="segment2">
      <ion-label [ngClass]="segment2 ? 'withcolor':'nocolor'">Correo</ion-label>
    </ion-segment-button>
  </ion-segment>
  <form *ngIf="segment2">-->
  <form>
      <ion-item class="input-item">
        <ion-label position="floating" color="primary" class="label-input">Nombre/Alias</ion-label>
        <ion-input [(ngModel)]="user.name" type="text" name="name" required></ion-input>
      </ion-item>
      <ion-item class="input-item">
        <ion-label position="floating" color="primary" class="label-input">Correo electrónico</ion-label>
        <ion-input [(ngModel)]="user.email" type="email" name="email" required></ion-input>
      </ion-item>
      <ion-item >
        <ion-label position="floating" color="primary" class="label-input" required>Contraseña</ion-label>
        <ion-row style=" width: 295px;" >
          <ion-col size="11">
            <ion-input type="password" 
              [(ngModel)]="user.password" 
              class="form-control" 
              name="password"
              #input
            >
            </ion-input>
          </ion-col >
          <ion-col size="0.8" style="align-content: center; margin-top: 10px;" >
            <a (click)="showPassword(input)" name="password-checked">
            <ion-icon [hidden] ="!passwordCheckbox" name="eye-outline"></ion-icon>
            <ion-icon [hidden]="passwordCheckbox" name="eye-off-outline"></ion-icon>
            </a>
          </ion-col>
      </ion-row> 
      </ion-item>   
    <ion-button class="sign-in-btn"  expand="block" (click)="onRegister()">
      Registrarse
    </ion-button><br>
    <div>
      ¿Ya tienes cuenta? <a routerLink="/login" style="text-decoration: none;font-weight: bold;">Inicia sesión</a>
    </div>
  </form>
  <!--<div *ngIf="segment1">
    <br>
  <div class="social-auth-options">
    <ion-button (click)="onreg()" color="danger" expand="block" >
      <ion-row>
        <ion-col>
          <ion-icon name="logo-google"></ion-icon>
        </ion-col>
        <ion-col>
          Regístrate con Google
        </ion-col>
      </ion-row> 
    </ion-button>
  </div>
</div>-->
<div style="margin-top: 40px;">
  <ion-icon style="color: blue;margin-top: 15px;" name="eye-outline"></ion-icon> <a style="color: rgb(100, 100, 100);" [routerLink]="['/slides']"> Toma un tour</a>
</div>
</ion-content>
