ion-toolbar{
    --background: #000000;
    color:white;
}
.image-container{
    position: relative;
    display: inline-block;
    text-align: center;
}
.icon-up{
    position: absolute;
    top: 10px;
    left: 90%;
}
.icon{
    width: 27px;
    height: 27px;
}