.input-comment{
    width: 100px;
}
.photo-profile{
    width: 33px;
    height: 33px;
    border-radius: 300px;
}
.comment-div{
    .user-comment{
        font-size: 14px;
    }
    .text-comment{
        border: 1px solid rgb(227, 255, 231);
        border-radius: 20px;
        padding: 7px;
        font-size: 12px;
        margin-top: 3px;
        background-color: rgb(227, 255, 231);
    }
}

