<ion-header>
  <ion-toolbar>
    <ion-title>Mi perfil</ion-title>
    <ion-buttons slot="secondary">
      <ion-button routerLink="/profile-settings">
        <ion-icon name="construct-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="user-information-container">
      <ion-row>
        <ion-col size="2.5" size-lg>
          <div class="user-photo-f">
            <img *ngIf="!user.photo" src="../../../assets/icon/penguin.svg" class="photo-profile">   
            <img *ngIf="user.photo" [src]="user.photo" class="photo-profile">   
          </div>
        </ion-col>
        <ion-col size="9.5" size-lg>
          <div class="user-information"> 
            <div class="user-name-container">
              <ion-label name="user-name" ><strong>{{user.name}}</strong></ion-label>
            </div>
            <div *ngIf="user.description" class="user-about">          
              {{user.description}}    
            </div>
            <div *ngIf="!user.description" class="user-about">          
              Añade una descripción en configuración de Perfil    
            </div>
          </div>     
        </ion-col>  
      </ion-row>
  </div>
  <hr color="#86C14F" size=1 width="100%">
  <ion-item *ngIf="noIdeas">
    <ion-label style="text-align: center;color: orange;">Aún no haz publicado una idea!</ion-label>
  </ion-item>
  <div *ngFor= "let publication of publications" class="publications-container" style="border: none;">
   <div style="border: none;">
    <div class="publication-info" style="border: none;">
      <ion-row>
        <ion-col size="1.5" size-lg>
          <img *ngIf="!publication.userPhoto" src="../../../assets/icon/penguin.svg" class="user-photo-profile">        
          <img *ngIf="publication.userPhoto" [src]="publication.userPhoto" class="user-photo-profile"/>  
        </ion-col>
        <ion-col size="7" size-lg>
          <ion-label class="title"><strong>{{publication.title | uppercase}}</strong></ion-label><br>
          <ion-label class="user" >Idea creada por: <a>{{publication.userName}}</a></ion-label><br>
          <ion-label class="date">
            Ctg: <a (click)="gotoCategory(publication.category)">{{publication.category}}</a> 
            • {{publication.date.toDate() | date: 'dd-MM-yyyy'}}
          </ion-label>        </ion-col> 

        <ion-col size="3">
        <ion-buttons>
          <ion-button (click)="presentAlertConfirm(publication)">
            <ion-icon name="trash-bin" color="danger"></ion-icon>
          </ion-button>
          <ion-button (click)="gotoEditPublication(publication.id)">
            <ion-icon name="create" color="secondary"></ion-icon>
          </ion-button>
        </ion-buttons>
        </ion-col>  
      </ion-row>
    </div>
      <div class="publication-description">
      <strong>Materiales:</strong>
        <p style="white-space: pre; overflow: hidden;">         
          {{publication.materials}}
        </p>
      </div>
      <div class="publication-description">
        <strong>Pasos a seguir:</strong>
        <div style="white-space: pre-wrap;">         
          {{publication.description}}
        </div>
      </div>
    <ion-slides pager="true" >
      <ion-slide *ngFor="let image of publication.image">
        <img loading="lazy" [src]="image" class="preview"/>
      </ion-slide>
    </ion-slides>
    <a *ngIf="publication.file" [href]="publication.file">{{publication.file}}</a>      
    <div class="contentVideo"> 
          <youtube-player 
      [videoId]="publication.videoURL" 
      suggestedQuality="highest"
      [height]="250" 
      [width]="370"
      [startSeconds]="1"
      >
      </youtube-player>
    </div> 
      <div class="publication-options">
        <ion-segment class="seg">
          <ion-segment-button class="option-n" (click)="modalComments(publication.id)"> 
            <img class="icon-comments" src="assets/icon/conversation.svg">
          </ion-segment-button>
          <ion-segment-button class="option-n" (click)="savePublication(publication.id)">
            <img class="icon-save" src="assets/icon/bookmark.svg">
          </ion-segment-button>
          <ion-segment-button class="option-n">
            <img class="icon-download" src="assets/icon/direct-download.svg">
          </ion-segment-button>
          <ion-segment-button class="option-n">
            <img class="icon-share" src="assets/icon/share.svg">
          </ion-segment-button>
        </ion-segment>
      </div>
    </div>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button  (click)="modalNewPublication()" routerLinkActive="router-link-active" >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  
</ion-content>
