<ion-header>
  <ion-toolbar>
    <ion-title>Mi perfil</ion-title>
    <ion-buttons slot="secondary">
      <ion-button routerLink="/profile-settings">
        <ion-icon name="construct-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="user-information-container">
      <ion-row>
        <ion-col size="2.5" size-lg>
          <div class="user-photo-f">
            <img [src]="user.photo" class="photo-profile">   
          </div>
        </ion-col>
        <ion-col size="9.5" size-lg>
          <div class="user-information"> 
            <div class="user-name-container">
              <ion-label name="user-name" ><strong>{{user.name}}</strong></ion-label>
            </div>
            <div class="user-about">          
              {{user.description}}    
            </div>
          </div>     
        </ion-col>  
      </ion-row>
  </div>
  <hr color="#86C14F" size=1 width="100%">
  <div *ngFor= "let publication of publications" class="publications-container" style="border: none;">
   <div *ngIf="idCurrentUser == publication.userId" style="border: none;">
    <div class="publication-info" style="border: none;">
      <ion-row>
        <ion-col size="1.5" size-lg>
          <img [src]="user.photo" class="user-photo-profile" />   
        </ion-col>
        <ion-col size="7" size-lg>
          
          <ion-label class="title"><strong>{{publication.title | uppercase}}</strong></ion-label><br>
          <ion-label class="user" >Idea creada por: <a>{{publication.userName}}</a></ion-label><br>
          <ion-label class="date">{{publication.date.toDate() | date: 'dd LLLL yyyy'}}</ion-label>
        </ion-col> 
        <ion-col size="3">
        <ion-buttons>
          <ion-button (click)="presentAlertConfirm(publication)">
            <ion-icon name="trash-bin" color="danger"></ion-icon>
          </ion-button>
          <ion-button (click)="gotoEditPublication(publication.id)">
            <ion-icon name="create" color="secondary"></ion-icon>
        </ion-button>
            <ion-icon  slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
        </ion-buttons>
        </ion-col>  
      </ion-row>
    </div>
    <div class="publication-description">
      <p>          
        <ion-label> {{publication.id}}</ion-label><br>
        {{publication.description}}     <br> 
        <ion-label> {{publication.userId}}</ion-label>
      </p>
    </div>
    
      <div>
        <img [src]="publication.photo"/>
      </div>
      <div class="publication-options">
        <ion-segment class="seg">
          <ion-segment-button class="option-n" (click)="presentModal(publication.id)"> 
            <img class="icon-comments" src="assets/icon/conversation.svg">
          </ion-segment-button>
          <ion-segment-button class="option-n">
            <img class="icon-save" src="assets/icon/bookmark.svg">
          </ion-segment-button>
          <ion-segment-button class="option-n">
            <img class="icon-download" src="assets/icon/direct-download.svg">
          </ion-segment-button>
          <ion-segment-button class="option-n">
            <img class="icon-share" src="assets/icon/share.svg">
          </ion-segment-button>
        </ion-segment>
      </div>
    </div>
  </div>
  

  
</ion-content>
