<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-button [routerLink]="['/home']">
         <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Guía rápida R-Utiliza</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-group>
    <ion-item>
      <strong>¿Cómo publico una idea?</strong>
    </ion-item>
    <div class="step">
      1. Clic en el ícono <ion-icon name="add-circle-outline"></ion-icon> <br><br>
      <div class="img-container">
        <img src="assets/img/nuevo.jpg" class="img"><br>
      </div><br>
      2. Agrega un título, elige una categoría y detalla los materiales y pasos necesarios para realizar tu idea<br>
      <strong>Archivos</strong><br><br>
      3. Dando clic en el ícono "imágenes" puede agregar hasta 5 imágenes<br><br>
      4. Si deseas, puedes agregar un documento donde expliques detalladamente tu idea<br><br>
      5. Por último puedes subir un video de Youtube usando un link<br><br>
      <div>
        <img src="assets/img/video.jpg" class="img"><br>
      </div>
    </div><br><br>
    <ion-item>
      <strong>¿Para qué sirven las opciones en cada publicación?</strong>
    </ion-item>
    <div class="step">
      Todas las publicaciones cuentan con 3 opciones que te permiten:
      <div>
        <img src="assets/img/opciones.jpg" class="img"><br>
      </div>
    </div><br><br>
    <ion-item>
      <strong>¿Dónde se encuentran las categorías?</strong>
    </ion-item>
    <div class="step">
      Si das clic en el ícono superior izquierdo puedes encontrar la lista de categorías y selecionar la que gustes<br><br>
      <div>
        <img src="assets/img/categ.jpg" class="img"><br>
      </div>
    </div><br><br>
    <ion-item>
      <strong>¿Dónde ver las personas a las que sigues?</strong>
    </ion-item>
    <div class="step">
      En la sección de tus seguidores podrás encontrar el siguiente ícono:
      Una vez ahí, se mostrará la lista de personas a las que sigues<br><br>
      <div>
        <img src="assets/img/seguidos.jpg" class="img"><br>
      </div>
    </div><br>
    <ion-item>
      <strong>¿Cómo configuro mi perfil?</strong>
    </ion-item>
    <div class="step">
      En tu perfil puedes encontrar el siguiente ícono:<br><br>
      <div>
        <img src="assets/img/config.jpg" class="img"><br>
      </div>
      Una vez aquí, puedes cambiar tu nombre y tu descripción y posterior a ello, guardar o cancelar los cambios
    </div>
  </ion-item-group>
</ion-content>
