<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-button [routerLink]="['/home']">
         <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Guía rápida R-Utiliza</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-group>
    <ion-item>
      <strong>Publica una idea</strong>
    </ion-item>
    <div class="step">
      1. Clic en el ícono <ion-icon name="add-circle-outline"></ion-icon> <br>
      2. Agrega un título, elige una categoría y detalla los materiales y pasos necesarios para realizar tu idea<br>
      <strong>Archivos</strong>
      3. Dando clic en el ícono "imágenes" puede agregar hasta 5 imágenes<br>
      4. Si deseas, puede agregar un documento donde expliques detalladamente tu idea<br>
      5. Por último puedes subir un video de Youtube usando un link<br>
    </div>
    <ion-item>
      <strong>Barra de opciones</strong>
    </ion-item>
    <div class="step">
      1. Clic en el ícono que <br>
      2. Agrega un título, elige una categoría y detalla los materiales y pasos necesarios para realizar tu idea<br>
      <strong>Archivos</strong>
      3. Dando clic en el ícono "imágenes" puede agregar hasta 5 imágenes<br>
      4. Si deseas, puede agregar un documento donde expliques detalladamente tu idea<br>
      5. Por último puedes subir un video de Youtube usando un link<br>
    </div>
  </ion-item-group>
</ion-content>
