<ion-header>
  <ion-toolbar>
    <ion-title>Olvidé mi contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item class="input-item">
      <ion-label position="floating" color="primary" class="label-input">Correo electrónico</ion-label>
      <ion-input type="email" #email required></ion-input>
    </ion-item>

  
  <ion-button class="sign-in-btn" expand="block" type="submit" (click)="onResetPassword(email)">Generar nueva contraseña</ion-button>

</form>

</ion-content>
