ion-toolbar{
    --background: #86C14F;
}
.user-photo-profile{
    width: 34px;
    height: 34px;
    border-radius: 300px;
}
.count-followers{
    width: 35px;
    border-radius: 12px;
    text-align: center;
    background-color: #63b314;
}