<ion-header>
  <ion-toolbar>
    <ion-title>Personas que te siguen</ion-title>

    <ion-buttons slot="secondary">
      <div class="count-followers">
        {{count}}
      </div>
      <ion-button [routerLink]="['/follows']">
        <ion-icon slot="icon-only" name="people-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="sign-in-content"> 
  <ion-item *ngIf="noFollowers">
    <ion-label style="text-align: center;color: orange;">Aún no tienes seguidores</ion-label>
  </ion-item>
  <div *ngFor= "let user of users" class="publications-container">
     <ion-item>
      <div>
        <img *ngIf="!user.photo" src="../../../assets/icon/penguin.svg" class="user-photo-profile" />
        <img *ngIf="user.photo" [src]="user.photo" class="user-photo-profile" />
      </div>
      <a (click)="gotoUserProfile(user.uid)" style="font-weight:bold;color:#000;margin-left: 5px;">
        {{user.name}}
        </a>
    </ion-item>  
  </div>
</ion-content>