<ion-header>
  <ion-toolbar>
    <ion-title>Personas que te siguen</ion-title>
    <ion-buttons slot="secondary">
      <ion-button [routerLink]="['/follows']">
        <ion-icon slot="icon-only" name="people-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="sign-in-content"> 
  <ion-item *ngIf="noFollowers">
    <ion-label style="text-align: center;color: orange;">No tienes seguidores</ion-label>
  </ion-item>
  <div *ngFor= "let user of users" class="publications-container">
    <div >
      <table style="margin: 10px;" width = 100%>
        <tr>
          <td width="40"><img [src]="user.photo" class="user-photo-profile" /></td>
          <td style="text-align: left;">
            <ion-label class="title">
            <a (click)="gotoUserProfile(user.uid)">
            {{user.name}}
          </a>
           </ion-label></td>
        </tr>
      </table>
     </div>
  </div>
</ion-content>