<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()" >
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Tengo una idea!</ion-title>
    <ion-buttons slot="end">
      <img class="photo-profile" src="assets/icon/penguin.svg"/>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="sign-in-content"> 
  <form >
    <ion-list class="inputs-list" lines="full">
      <ion-item class="input-item">
        <ion-label position="stacked" color="primary">Título</ion-label>
        <ion-input [(ngModel)]= "newPublication.title" type="text" name="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary">Categoría</ion-label>
        <ion-select  [(ngModel)]="newPublication.category" name="category" okText="Ok" cancelText="Cancelar" >
          <ion-select-option *ngFor="let category of categories" value={{category.name}} name="name">{{category.name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item class="input-item">
        <ion-label position="stacked" color="primary" >Materiales</ion-label>
        <ion-textarea [(ngModel)]= "newPublication.materials" type="text" name="materials" rows="7" placeholder="{{'1.\n2.\n3.\n.\n.'}}"></ion-textarea>
      </ion-item>
      <ion-item class="input-item">
        <ion-label position="stacked" color="primary" >Pasos a seguir</ion-label>
        <ion-textarea [(ngModel)]= "newPublication.description" type="text" name="description" rows="7"></ion-textarea>
      </ion-item>
      <div style="margin-left: 10px;">
        <ion-label color="primary"  class="label-input">Archivo</ion-label><br>
        <ion-note>Si vas a añadir imágenes, comienza por la última imagen hasta la primera</ion-note>
      </div>
      <ion-item class="input-item">
          <ion-button>
            <label for="img-upload">
              <ion-icon name="images"></ion-icon>
              Imágenes
            </label>
            <input accept=".png,.jpg" (change)="newPublicationImage($event)" id="img-upload" type="file" style="display: none;">
          </ion-button>
          <ion-button>
            <label for="file-upload">
              <ion-icon name="document"></ion-icon>
               Documento
            </label>
            <input accept=".pdf" (change)="newPublicationFile($event)" id="file-upload" type="file" style="display: none;">
          </ion-button>
          <ion-button (click)="accion1()">
            <ion-label>
              <ion-icon name="videocam"></ion-icon>
                URL Video
            </ion-label>   
          </ion-button>
      </ion-item>
      <ion-item class="input-item" *ngIf="ocultar1">
        <ion-label position="stacked" color="primary" class="label-input">URL</ion-label>
        <ion-textarea [(ngModel)]= "newPublication.videoURL" type="text" name="videoURL" ></ion-textarea>
      </ion-item>
      <ion-progress-bar *ngIf="archivo" color ="success" value={{uploadPercent|async}}></ion-progress-bar>
      <ion-spinner style="margin-left: 45%;" *ngIf="barStatus" name="dots"></ion-spinner>
      <div *ngIf="errorMessage" class="error">{{errorMessage}}</div>
      <a [href]="downloadURL | async">{{ downloadURL | async}}</a> 
    </ion-list>
    <div *ngFor="let image of newPublication.image">
      <img loading="lazy" [src]="image" class="preview" />
    </div>
    <ion-button class="new-idea-btn"  expand="block" (click)="savePublication()">
      Publicar idea
    </ion-button>
  </form>
</ion-content>