<ion-header>
  <ion-toolbar>
    <ion-title>Verificar correo electrónico</ion-title>
    <ion-button >atras</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="dividers">
    <div class="textIn">
      <h1 class="titles" > 
        ¡Gracias por registrarte a R-usa!
      </h1>
      <h2>
        Te hemos enviado un correo de verificación a  <strong></strong>
      </h2>
      <h3>Por favor, revisa tu bandeja de entrada o tu correo spam</h3>
    </div>
    <div class="iconIn">
      <img id="iconBottle" src="assets/icon/planta.svg">
    </div>
  </div>
  <ion-button class="sign-in-btn" expand="block" type="submit" >Reenviar correo de verificación</ion-button>

</ion-content>
