<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Editar perfil</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="sign-in-content">
  <form>
    <ion-list class="inputs-list" lines="full">
      <ion-item class="input-item">
        <ion-label position="floating" color="primary" class="label-input">Nombre</ion-label>
        <ion-input [(ngModel)]="user.name" type="text" name="name"></ion-input>
      </ion-item>
      <ion-item class="input-item">
        <ion-label position="floating" color="primary" class="label-input">Descripción</ion-label>
        <ion-textarea [(ngModel)]="user.description" name="description"></ion-textarea>
      </ion-item>
      <ion-item class="input-item">
        <ion-label position="floating" color="primary" class="label-input">Correo electrónico</ion-label>
        <ion-input [(ngModel)]="user.email" type="email" name="email" disabled></ion-input>
      </ion-item>
      <ion-item class="input-item">
        <ion-label position="floating" color="primary" class="label-input">Contraseña</ion-label>
        <ion-input [(ngModel)]="user.password" type="password" name="password" disabled></ion-input>
      </ion-item>
      <ion-item class="input-item">
        <ion-label position="floating" color="primary" class="label-input">Cambia tu foto de perfil</ion-label>
        <br>
        <ion-button class="plus-button" fill="clear">
        <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
        <input accept=".png,.jpg" (change)="newPhotoProfile($event)" id="file-upload" type="file">
      </ion-button>
      </ion-item>
    </ion-list>
    <div class="div-img-photo">
      <img *ngIf="!user.photo" src="../../../assets/icon/penguin.svg" class="imgphotoProfile">      
      <img *ngIf="user.photo" [src]="user.photo" class="imgphotoProfile">   
    </div>
    <ion-spinner style="margin-left: 45%;" *ngIf="statusBar" name="dots"></ion-spinner>
    <ion-button class="sign-in-btn"  expand="block" (click)="saveUser()">
      Guardar
    </ion-button>
    <ion-button class="sign-in-btn"  expand="block" (click)="presentAlertConfirm()">
      Cancelar
    </ion-button>
  </form>
</ion-content>