.photo-profile{
    margin-top: 20px;
    margin-left: 40%;
    width: 80px;
    height: 80px;
}
.add-photo{
    padding: 0%;
    width: 19px;
    height: 19px;
}
.plus-button{
    padding: 0px;
    background-color: #ffffff;
}
.sign-in-btn {
    margin: 16px 0px;
    --background: #6C9843;
}
.div-img-photo{
    margin-top: 10px;
    margin-left: 40%;
    width: 70px;
    height: 70px;
    border-radius:250px;
}
#imgphotoProfile{
    width: 70px;
    height: 70px;
    border-radius:250px;
}