<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/home']" routerLinkActive="router-link-active" >
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Categoría: Cristal y vidrio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor= "let publication of publications" class="publications-container" style="border: none;">
    <div style="border: none;">
      <div class="publication-info">
        <ion-row>
          <ion-col size="1.5" size-lg >
            <img *ngIf="!publication.userPhoto" src="../../../assets/icon/penguin.svg" class="user-photo-profile">        
            <img *ngIf="publication.userPhoto" [src]="publication.userPhoto" class="user-photo-profile"/>      
          </ion-col>
          <ion-col size="7.5" size-lg >
            <ion-label class="title"><strong>{{publication.title | uppercase}}</strong></ion-label><br>
            <ion-label class="user" >Idea creada por: <a *ngIf="idCurrentUser !== publication.userId" (click)="gotoUserProfile(publication.userId)" >{{publication.userName}}</a><a *ngIf="idCurrentUser === publication.userId" [routerLink]="['/profile']" style="text-decoration:none">{{publication.userName}}</a></ion-label><br>
            <ion-label class="date">
              Ctg: {{publication.category}}
              • {{publication.date.toDate() | date: shortDate}}
            </ion-label>          </ion-col> 
          <ion-col size="3">
          <ion-buttons *ngIf="idCurrentUser == publication.userId">
            <ion-button (click)="presentAlertConfirm(publication)">
              <ion-icon name="trash-bin" color="danger"></ion-icon>
            </ion-button>
            <ion-button (click)="gotoEditPublication(publication.id)">
              <ion-icon name="create" color="secondary"></ion-icon>
          </ion-button>
          </ion-buttons>
          <ion-buttons *ngIf="idCurrentUser !== publication.userId">
              <ion-button (click)="modalReport(publication.id)">
                <ion-icon name="alert-circle-outline" color="danger"></ion-icon>
              </ion-button>
          </ion-buttons>
          </ion-col>  
        </ion-row>
      </div>
      <div class="publication-description">
        <p style="white-space: pre">         
          {{publication.description}}
        </p>
      </div>
      <ion-slides pager="true" >
        <ion-slide *ngFor="let image of publication.image">
          <img loading="lazy" [src]="image" class="preview"/>
        </ion-slide>
      </ion-slides>
      <a *ngIf="publication.file" [href]="publication.file">Click para descargar documento</a>
      <youtube-player 
      [videoId]="publication.videoURL" 
      suggestedQuality="highest"
      [height]="250" 
      [width]="390" 
      [startSeconds]="1"
      >
      </youtube-player>
        <div class="publication-options">
          <ion-segment class="seg">
            <ion-segment-button class="option-n" (click)="modalComments(publication.id)">
              <img class="icon-comments" src="assets/icon/conversation.svg">
            </ion-segment-button>
            <ion-segment-button class="option-n" (click)="savePublication(publication.id)">
              <img class="icon-save" src="assets/icon/bookmark.svg">
            </ion-segment-button>
            <ion-segment-button class="option-n">
              <img class="icon-download" src="assets/icon/direct-download.svg">
            </ion-segment-button>
            <ion-segment-button class="option-n">
              <img class="icon-share" src="assets/icon/share.svg">
            </ion-segment-button>
          </ion-segment>
        </div>
     </div>
   </div>
</ion-content>
